* {
                    margin: 0px;
                    padding: 0px;
                    background-color: black;
}





ul {
                    display: flex;
                    /* margin-left: 210px; */
                    justify-content: end;
                    margin-right: 100px;
                    /* justify-content: space- evenly; */




}

ul li a {
                    margin-left: 40px;
                    font-size: 18px;
                    text-decoration: none;
                    letter-spacing: 1px;
                    font-weight: 500px;
                    padding: 8px 10px;
                    border-radius: 5px;
                    color: white;
}



nav.navbar {
                    font-weight: 400px;
                    font-size: 40px;
                    color: white;


}

ul li a:hover {
                    color: rgb(15, 15, 247);
                    background-color: rgb(245, 8, 87);
}

@media(max-width:940px) {
                    nav ul {
                                        position: fixed;
                                        left: 0;
                                        top: 80px;
                                        width: 100%;
                                        height: 100vh;
                                        display: block;
                                        background: #111;
                    }

                    nav ul li {
                                        margin: 40px 0px;


                    }

                    nav ul li a {
                                        font-size: 20px;
                    }


}